.hitter{
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 10px 7px #ffff00;
}
.harper{
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 10px 7px #ffff00;
}
.caption{
    font-size: .9em;
    color: grey;
    margin-bottom: 30px;
    font-style: italic;
}
body{
    padding: 20px;
    font-family: 'Manrope', sans-serif;
}
.chart{
    width: 100%;
    height: auto;
    max-width: 1240px;
    padding: 20px;
    margin-top: 30px;
}
h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 3em;
}
p{
    font-size: 1.1em;
}
h3{
    font-size: 1.3em;
    color: grey;
}
.chartexp1{
    font-size: .9em;
    border-top: 2px;
    border-style: dashed;
    border-color: grey;
    border-bottom: none;
    border-left: none;
    border-right:none;
    margin-top: 30px;
    padding-top: 10px;
}
.chartexp{
    font-size: .9em;
}
a{
    color: black;
    font-weight: 700;
}
a:hover{
    background-color: #ffff00;
    color: black;
}
@media(max-width: 775px){
    .chart{
        max-width: 600px;
        margin-top: 0;
    }
    .hitter{
        max-width: 400px;
    }
    .harper{
        max-width: 600px;
    }
    h1{
        font-size: 2.5em;
    }
}