h1,
h2{
    font-family: 'Rubik', sans-serif;
    color: #2DAEC4;
}
h1{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 30px;
}
h2{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
}
.ingredients{
    background-color: #D8FC8B;
    padding: 20px;
}
header p{
    color: lightgrey;
    font-size: .8em;
    line-height: .5;
}
img{
    margin-bottom: 20px;
}